*
{
    overflow: auto;
    font-family: Arial;
}

h1
{
    display: flex;
    justify-content: space-around;
    background: #005c96;
    margin:5%;
}
h1:hover
{
    transform: scale(1.1,1.1);
}
p,a
{
margin:20px;
}

p:hover
{
    transform: scale(1.1,1.1);
}
header
{
    display : flex;
    justify-content: space-between;
    overflow: visible;
}
#principale
{
    display:flex;
    width:100%
}
.principale
{
    display : flex;
    width : 33.333%;
    flex-direction: column;
    margin: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding:10px;
}


.principale:hover
{
    transform: scale(1.1,1.1);
}
ul
{
    list-style-type: none;
    padding:0;
}
h3
{
    display:flex;
    justify-content: center;
}
img
{
    margin:10px;
}
img:hover
{
    transform: scale(1.1,1.1);
}

@media all and (max-width:768px)
{
    #adresse
    {
        display:none;
    }
    header
    {
        justify-content: center;
    }
    #principale
    {
        flex-direction: column;
        justify-content: space-around;
    }
    .principale
    {
        width:80%;
    
    }

    *
    {
        font-size : 12px;
    }
    h1 
    {
        font-size : 25px;
    }
    h3
    {
        font-size : 15px;
    }

}

