header
{
    display : flex;
    justify-content: center;
}
header p 
{
    font-size: 24px;
}
nav 
{
    background: black;
}
ul
{
    display:flex;
    list-style-type: none; 
    padding-bottom: 10px;
    padding-top: 10px;
}
li
{
    padding: 5px;
}
#aside
{
    display : flex;
}
#vide
{
    width: 300px;
    background: grey;
}
a
{
    display: flex;
    color: white;
}
#colonne_droite
{
    width: 100px;
}
hr{
    opacity: 0.1;

}
table, tr, td, th, thead
{ 
   border: 1px solid grey;
}
@media all and (max-width: 768px)
{
    h1
    {
        font-size : 20px;
    }
    strong
    {
        font-size : 15px;
    }
    p
    {
        font-size : 10px;
    }
    ul
    {
        display:flex;
        flex-direction: column;
        list-style-type: none; 
        justify-content: center;
        margin-right : 10%;
    }
    li 
    {
        display:flex;
        justify-content: center;
    }
  
    #vide
    {
        
        display:none;
    }

}
@media all and (max-width : 992px)
{
    #vide
    {
        flex : 1;
    }
    #accueil
    {
        flex : 1;
    }

}
